/* Card styles */
.card {
    border: 1px solid #cfd8dc; /* border-blue-gray-100 */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* shadow-sm */
    border-radius: 0.375rem; /* rounded-lg */
    background-color: #ffffff; /* bg-white */
}

.card-header {
    display: grid;
    place-items: center;
    height: 3rem;
    width: 3rem;
    background: linear-gradient(90deg, rgba(29,78,216,1) 0%, rgba(59,130,246,1) 100%); /* variant="gradient" color */
    position: absolute;
    top: -1.5rem;
    left: 1rem;
    border-radius: 0.375rem;
}

.card-body {
    padding: 1rem; /* p-4 */
    text-align: right;
}

.card-footer {
    border-top: 1px solid #eceff1; /* border-t border-blue-gray-50 */
    padding: 1rem; /* p-4 */
}

.card-title {
    font-size: 0.875rem; /* text-sm */
    color: #607d8b; /* text-blue-gray-600 */
    font-weight: 400; /* font-normal */
}

.card-value {
    font-size: 1.5rem; /* text-xl */
    color: #374151; /* text-gray-800 */
    font-weight: 700; /* font-bold */
}

.card-button
{
    background-color: black;
}
