/* src/components/web3/ConnectButton.css */

.w3m-button {
    --w3m-button-background-color: #4caf50; /* Цвет фона кнопки */
    --w3m-button-text-color: #ffffff; /* Цвет текста кнопки */
    --w3m-button-border-color: #388e3c; /* Цвет границы кнопки */
}

/* Размеры кнопки можно изменять через масштабирование */
.w3m-button[size="md"] {
    font-size: 1000px;
    padding: 10px 20px;
}

.w3m-button[size="sm"] {
    font-size: 12px;
    padding: 5px 10px;
}

