@tailwind base;
@tailwind components;
@tailwind utilities;

.content-margin {
    margin-left: 1rem; /* Задаем отступ слева */
}

/* Дополнительные стили */
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(180deg, #E0F2FF 0%, #FFFFFF 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Фон для рабочей области */
.main-content {
    background-color: rgba(229, 231, 235, 0.5); /* Светло-серый цвет */
    margin-left: 0px;
}

.content-margin {
    margin-left: 1rem; /* Задаем отступ слева */
}

