@tailwind base;
@tailwind components;
@tailwind utilities;

.content-margin {
    margin-left: 1rem; /* Задаем отступ слева */
}

/* Дополнительные стили */
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Фон для рабочей области */
.main-content {

    margin-left: 300px; /* Светло-серый цвет */
}

.content-margin {
    margin-left: 1rem; /* Задаем отступ слева */
}

