/* src/styles/Sidebar.module.css */

/* Основной стиль для боковой панели */
.sidebar {
    backdrop-filter: blur(10px); /* Эффект размытия */
    color: black; /* Белый цвет текста */
    transform: translateX(0);
    position: fixed;
    top: 40px; /* Задаем отступ от верхнего края */
    left: 16px; /* Задаем отступ от левого края */
    right: 16px; /* Задаем отступ от правого края */
    bottom: 16px; /* Задаем отступ от нижнего края */
    z-index: 50;
    height: calc(100vh - 48px); /* Учитываем новый верхний отступ в высоте */
    width: 18rem;
    border-radius: 12px;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Заголовок боковой панели */
.sidebarHeader {
    padding: 24px 32px;
    text-align: center;
}

.sidebarTitle {
    font-size: 1rem;
    font-weight: 600;
    color: black;
}

/* Список ссылок боковой панели */
.sidebarList {
    margin: 16px;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    color: darkblue;
}

/* Ссылки в боковой панели */
.sidebarLink {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    text-decoration: none;
    font-weight: 500;
    color: black;
    transition: background 0.2s;
}

/* Активная ссылка */
.activeLink {
    background: linear-gradient(90deg, #005BBB 0%, #007FFF 100%);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: white;
}

/* Иконки ссылок */
.icon {
    width: 1.25rem;
    height: 1.25rem;
}

/* Стили для ссылок при наведении */
.sidebarLink:hover {
    background: linear-gradient(90deg, #005BBB 0%, #007FFF 100%);
    color: white;
}

/* Кнопки аутентификации */
.sidebarAuthButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.signInButton,
.signOutButton {
    background: black; /* Градиентный фон кнопки */
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 10px;
    width: 90%;
    text-align: center;
    font-weight: 600;
}

.signInButton:hover,
.signOutButton:hover {
    background: linear-gradient(90deg, #005BBB 0%, #007FFF 100%); /* Темный градиент при наведении */
    font-weight: 600;
}

/* Добавляем стили для кнопки Connect Wallet */
.connectWalletButton {
    background: linear-gradient(90deg, #007BFF 0%, #00C6FF 100%); /* Градиентный фон кнопки */
    color: white; /* Цвет текста */
    border: none; /* Убираем границу */
    padding: 10px 20px; /* Отступы */
    margin: 10px 0; /* Отступы сверху и снизу */
    cursor: pointer; /* Курсор указателя */
    border-radius: 10px; /* Скругленные углы */
    width: 90%; /* Ширина кнопки */
    text-align: center; /* Выравнивание текста по центру */
    font-weight: 600; /* Толщина шрифта */
    display: flex; /* Для включения внутреннего элемента */
    justify-content: center; /* Центрирование внутреннего элемента */
    align-items: center; /* Центрирование внутреннего элемента */
}

.connectWalletButton:hover {
    background: linear-gradient(90deg, #0056b3 0%, #0094d9 100%); /* Темный градиент при наведении */
    font-weight: 600; /* Толщина шрифта */
}
