/* Общий контейнер для страницы голосований */
.votesContainer {
    margin-top: 26px;
    padding: 16px;
    padding-right: 15px;
    padding-left: 300px;
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* Сетка для карточек голосований */
.votesGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 16px;
    width: 100%;
    max-width: 1200px;
}

/* Стили для карточек голосований */
.voteCard {
    background: rgba(255, 255, 255, 0.7); /* Прозрачный белый фон */
    backdrop-filter: blur(10px); /* Эффект размытия */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 16px;
}

.cardHeader {
    display: flex;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid #eceff1;
}

.cardLogo {
    height: 30px;
    width: 30px;
    border-radius: 0.375rem;
    margin-right: 8px;
}

.cardDaoInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cardDaoName {
    font-size: 0.875rem;
    color: #374151;
    font-weight: 600;
}

.cardDaoSubtitle {
    font-size: 0.75rem;
    color: #607d8b;
    font-weight: 400;
}

.cardBody {
    padding: 16px;
    text-align: center;
}

.cardTitle {
    font-size: 1rem;
    color: darkblue;
    font-weight: 600;
    margin-top: 0.5rem;
}

.cardParticipants {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.participantAvatar {
    width: 60px; /* Увеличить размер аватара */
    height: 60px; /* Увеличить размер аватара */
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.cardDescription {
    font-size: 0.875rem;
    color: #607d8b;
    font-weight: 400;
    margin-bottom: 1rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cardFooter {
    display: flex;
    justify-content: center; /* Центрировать кнопку */
    padding: 16px;
    border-top: 1px solid #eceff1;
    text-align: center; /* Центрировать кнопку */
}

.participantsCount,
.dueDate {
    font-size: 0.875rem;
    color: #607d8b;
}

.moreDetailsButton {
    background: #4788C7;
    color: white;
    border-radius: 12px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 0.875rem;
    width: 100%; /* Установить ширину по содержимому */
    max-width: 200px; /* Максимальная ширина кнопки */
    box-sizing: border-box;
}

.moreDetailsButton:hover {
    background: linear-gradient(90deg, #005BBB 0%, #007FFF 100%);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); /* Добавление тени */
}

/* Styles for the modal overlay */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Modal Content/Box */
.modalContent {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Уменьшить ширину */
    max-width: 400px; /* Установить максимальную ширину */
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    max-height: 170vh; /* Ограничить высоту модального окна */
    overflow-y: auto; /* Включить вертикальную прокрутку */
}

.close {
    color: #aaa;
    align-self: flex-end;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modalLogo {
    height: 5rem;
    width: 5rem;
    border-radius: 0.375rem;
    margin-bottom: 1rem;
}

.modalAvatar {
    width: 4rem; /* Увеличим размер аватара */
    height: 4rem; /* Увеличим размер аватара */
    border-radius: 50%;
    margin-bottom: 1rem;
}

.supportButton,
.declineButton {
    background: linear-gradient(90deg, #007BFF 0%, #00C6FF 100%); /* Градиентный фон кнопки */
    color: white;
    border: none;
    border-radius: 12px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 0.875rem;
    margin: 0.5rem 0; /* Уменьшить отступы */
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.supportButton:hover {
    background: green; /* Темный градиент при наведении */
}

.declineButton {
    background-color: green;
}

.declineButton:hover {
    background-color: red;
}