/* Основной контейнер навигационной панели */
.navbar {
    width: 100%;
    background-color: #1a202c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Контейнер для элементов навигационной панели */
.navbar-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

/* Логотип */
.logo {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

/* Контейнер для меню */
.menu {
    display: flex;
    gap: 20px;
}

/* Элементы меню */
.menu-item {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.menu-item:hover {
    color: royalblue;
}

/* Контейнер для действий (аватарка и кнопки) */
.actions {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Контейнер для аватарки пользователя */
.avatar-container {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
}

/* Изображение аватарки пользователя */
.avatar-icon {
    height: 100%;
    width: auto;
}

/* Кнопка Sign In */
.sign-in-button, .connect-button {
    height: 40px;
    padding: 0 16px; /* Внутренние отступы */
    min-width: 150px; /* Минимальная ширина */
    background: #F0B90B; /* Цвет фона */
    color:#000000; /* Цвет шрифта */
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600; /* Толщина шрифта */
    text-align: center;
    transition: background 0.3s ease;
    white-space: nowrap; /* Запрещает перенос текста */
}

/* Стили для кнопок при наведении */
.sign-in-button:hover, .connect-button:hover {
    background: linear-gradient(to bottom right, #2d3748, #1a202c);
    color: #ffffff; /* Цвет шрифта при наведении */
}

/* Стили для поля поиска */
.search-input {
    height: 40px;
    padding: 0 16px;
    border-radius: 4px;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: #2d3748;
    color: white;
    margin-left: -100px; /* Сдвиг поля поиска на 40 пикселей влево */
}

.search-input::placeholder {
    color: #a0aec0;
}
