/* src/components/layout/Navbar.css */

/* Контейнер для аватарки пользователя */
.avatar-container {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
}

/* Изображение аватарки пользователя */
.avatar-icon {
    height: 100%;
    width: auto;
}

/* Кнопка Sign In */
.sign-in-button, .connect-button {
    height: 40px;
    width: 150px;
    padding: 3 16px;
    background: linear-gradient(to bottom right, #2d3748, #1a202c); /* Градиентный цвет кнопки */
    color: #ffffff;
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}

/* Стили для кнопок при наведении */
.sign-in-button:hover, .connect-button:hover {
    background: royalblue;
}
