/* src/components/layout/Sidebar.css */

/* Основной стиль для боковой панели */
.sidebar {
    background: linear-gradient(to bottom right, #2d3748, #1a202c);
    transform: translateX(0);
    position: fixed;
    top: 40px; /* Задаем отступ от верхнего края */
    left: 16px; /* Задаем отступ от левого края */
    right: 16px; /* Задаем отступ от правого края */
    bottom: 16px; /* Задаем отступ от нижнего края */
    z-index: 50;
    height: calc(100vh - 48px); /* Учитываем новый верхний отступ в высоте */
    width: 18rem;
    border-radius: 0.75rem;
    transition: transform 0.3s;
    color: #F0B90B;

}


/* Заголовок боковой панели */
.sidebar-header {
    padding: 24px 32px;
    text-align: center;
}

.sidebar-title {
    font-size: 1rem;
    font-weight: 600;
    color: #ffffff;
}

/* Список ссылок боковой панели */
.sidebar-list {

    margin: 16px;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

/* Ссылки в боковой панели */
.sidebar-link {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    text-decoration: none;
    font-weight: 500;
    color: #ffffff;
    transition: background 0.2s;
}

/* Активная ссылка */
.active-link {
    background: #F0B90B;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: black;
}

/* Иконки ссылок */
.icon {
    width: 1.25rem;
    height: 1.25rem;
}

/* Стили для ссылок при наведении */
.sidebar-link:hover {
    background: rgba(255, 255, 255, 0.1);
    color: white;

}

./* src/components/layout/Sidebar.css */

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.sidebar-list {
    padding: 0;
    margin: 0;
    list-style: none;
    flex-grow: 1;
}

.sidebar-auth-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.sign-in-button,
.sign-out-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
    width: 90%;
    text-align: center;

}

.sign-in-button:hover,
.sign-out-button:hover {
    background-color: #0056b3;
}
