/* src/components/layout/Sidebar.css */

/* Основной стиль для боковой панели */
.sidebar {
    background: white; /* Прозрачный черный фон */
    backdrop-filter: blur(10px); /* Эффект размытия */
    color: black; /* Белый цвет текста */
    transform: translateX(0);
    position: fixed;
    top: 40px; /* Задаем отступ от верхнего края */
    left: 16px; /* Задаем отступ от левого края */
    right: 16px; /* Задаем отступ от правого края */
    bottom: 16px; /* Задаем отступ от нижнего края */
    z-index: 50;
    height: calc(100vh - 48px); /* Учитываем новый верхний отступ в высоте */
    width: 18rem;
    border-radius: 0.75rem;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Заголовок боковой панели */
.sidebar-header {
    padding: 24px 32px;
    text-align: center;
}

.sidebar-title {
    font-size: 1rem;
    font-weight: 600;
    color: black;
}

/* Список ссылок боковой панели */
.sidebar-list {
    margin: 16px;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    color: black;
}

/* Ссылки в боковой панели */
.sidebar-link {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    text-decoration: none;
    font-weight: 500;
    color: black;
    transition: background 0.2s;
}

/* Активная ссылка */
.active-link {
    background: white; /* Синий цвет для активного элемента меню */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: white;
}

/* Иконки ссылок */
.icon {
    width: 1.25rem;
    height: 1.25rem;
}

/* Стили для ссылок при наведении */
.sidebar-link:hover {
    background: black; /* Градиентный фон кнопки */
    color: white;
}

/* Кнопки аутентификации */
.sidebar-auth-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.sign-in-button,
.sign-out-button {
    background: lightslategray; /* Градиентный фон кнопки */
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 10px;
    width: 90%;
    text-align: center;
    font-weight: 600;
}

.sign-in-button:hover,
.sign-out-button:hover {
    background: linear-gradient(90deg, #0056b3 0%, #0094d9 100%); /* Темный градиент при наведении */
    font-weight: 600;
}

/* Добавляем стили для кнопки Connect Wallet */
.connect-wallet-button {
    background: linear-gradient(90deg, #007BFF 0%, #00C6FF 100%); /* Градиентный фон кнопки */
    color: white; /* Цвет текста */
    border: none; /* Убираем границу */
    padding: 10px 20px; /* Отступы */
    margin: 10px 0; /* Отступы сверху и снизу */
    cursor: pointer; /* Курсор указателя */
    border-radius: 10px; /* Скругленные углы */
    width: 90%; /* Ширина кнопки */
    text-align: center; /* Выравнивание текста по центру */
    font-weight: 600; /* Толщина шрифта */
    display: flex; /* Для включения внутреннего элемента */
    justify-content: center; /* Центрирование внутреннего элемента */
    align-items: center; /* Центрирование внутреннего элемента */
}

.connect-wallet-button:hover {
    background: linear-gradient(90deg, #0056b3 0%, #0094d9 100%); /* Темный градиент при наведении */
    font-weight: 600; /* Толщина шрифта */
}
