/* Общий контейнер для дашборда */
.dashboard-container {
    padding: 16px;
}

/* Стили для баннера */
.banner {
    background:  white;
    color: black;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 16px;
    transition: background 0.5s ease;
    cursor: pointer; /* Курсор в виде руки при наведении */
}

.banner:hover {
    background: linear-gradient(90deg, #007BFF 0%, #00C6FF 100%); /* Градиентный фон кнопки */
    color: white;
}

/* Фиксированная высота для карточек */
.fixed-height-card {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 16px;
    position: relative;
    height: calc(100vh - 140px); /* Высота карточки на весь экран с учетом отступов */
}

/* Стили для заголовков таблиц */
.table-header {
    padding: 10px;
    text-align: left;
    font-weight: bold;
    background-color: #f9fafb;
}

/* Стили для ячеек таблиц */
.table-cell {
    padding: 8px;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* Контейнер для иконок */
.icon-container {
    display: flex;
    align-items: center;
}

/* Иконки проектов */
.project-icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 8px;
}

/* Аватар создателя */
.owner-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 8px;
}

/* Контейнер для голосов */
.votes-container {
    display: flex;
    align-items: center;
}

/* Иконки голосов */
.vote-icon {
    width: 20px;
    height: 20px;
    margin-right: 4px;
}

/* Стили для контейнера пагинации */
.pagination-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
    padding-bottom: 16px;
}

/* Кастомный верхний отступ */
.custom-mt {
    margin-top: 24px;
}

.dashboard-container {
    padding-right: 15px; /* Добавляет отступ справа в 15 пикселей */
    padding-left: 300px; /* Оставляем текущий отступ слева */
    padding-top: 16px; /* Оставляем текущий отступ сверху */
    padding-bottom: 16px; /* Оставляем текущий отступ снизу */

}
