body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
}

.dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 10px;
    flex: 1 0 21%; /* Responsive layout */
    max-width: 23%;
    min-width: 200px;
    text-align: center;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333; /* Темный фон */
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.icon {
    font-size: 1.5em;
    color: #fff; /* Белый цвет иконок */
}

.details {
    margin-left: 15px;
}

.details p {
    margin: 0;
    font-size: 1em;
    color: #888;
}

.details h3 {
    margin: 5px 0;
    font-size: 1.5em;
    color: #333;
}

.details span {
    font-size: 0.875em;
    color: #4caf50; /* Зеленый цвет для положительных изменений */
}
