.dashboard-container {
    display: flex;
    gap: 1rem;
}

.card {
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    width: 220px; /* Ширина 300 пикселей */
    height: 120px; /* Высота 150 пикселей */
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.card-icon {
    background-color: #333;
    color: white;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    margin-right: 10px!important; /* Добавлено */
}

.card-content h2 {
    margin: 0;
    font-size: 1rem;
    color: #666;
}

.card-content p {
    margin: 0.5rem 0;
    font-size: 1.25rem;
    font-weight: bold;
}

.card-content span {
    color: green; /* или красный, если отрицательный процент */
    font-size: 0.875rem;
}
