.dashboard-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1px; /* Обеспечиваем одинаковые отступы */
}

.custom-mt {
    margin-top: 16px; /* Добавляем отступ сверху */
}

.projects-card, .orders-card {
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    padding: 1rem;
}

.projects-card h2, .orders-card h2 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    color: #333;
}

.table-cell {
    padding: 10px;
}

.table-header {
    background-color: #f3f4f6;
    text-align: left;
    padding: 10px;
    font-weight: bold;
}

.icon-container {
    display: flex;
    align-items: center;
}

.icon-container img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.owner-avatar {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.votes-container {
    display: flex;
    align-items: center;
}

.vote-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
